.row {
  box-sizing: border-box;
  display: flex;
  width: 60%;
  margin: auto;
}

.row:hover {
  border-radius: 3px;
  background: #eee;
}

div {
  padding: 5px 0;
}

.title {
  display: flex;
  width: 50%;

}

.price {
  width: 15%;

}

.quantity {
  width: 10%;

}

.total {
  width: 15%;

  font-weight: bolder;
  color: green;
}

.actions {
  width: 10%;

  text-align: center;
  box-sizing: border-box;
}

.actions button {
  border: none;
  font-size: 12px;
  background-color: red;
  color: white;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
}

.actions button:hover {
  background-color: darkred;
}

.completed {
  text-decoration: line-through;
  color: #ccc;
}

.completed .total {
  color: #ccc;
}
