form {
  margin: 0 auto;
  width: 300px;
  display: block;
}

form div {
  padding: 5px 0;

}

form label {
  display: block;
  padding: 10px 0;
}

form input[type=text] {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;

}

form input[type=submit] {
  border: none;

  background: rgb(23, 55, 160);
  color: white;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

form input[type=submit]:hover {
  background-color: darkblue;
}
